/* ==========================================================================
   Fonts

   If you are going to include custom fonts please use the /src/media/fonts
   directory.
   ========================================================================== */

@font-face {
    font-family: "GtSectra";
    font-weight: 400;
    font-style: normal;
    src:
        url("../../media/fonts/gt-sectra/gt-sectra-display-regular-webfont-ext-400.woff2") format("woff2"),
        url("../../media/fonts/gt-sectra/gt-sectra-display-regular-webfont-ext-400.woff") format("woff");
}

@font-face {
    font-family: "GtSectra";
    font-weight: 500;
    font-style: normal;
    src:
        url("../../media/fonts/gt-sectra/gt-sectra-medium-webfont-ext-500.woff2") format("woff2"),
        url("../../media/fonts/gt-sectra/gt-sectra-medium-webfont-ext-500.woff") format("woff");
}

@font-face {
    font-family: "IbmPlexMono";
    font-weight: 400;
    font-style: normal;
    src:
        url("../../media/fonts/ibm-plex-mono/ibm-plex-mono-v4-cyrillic_cyrillic-ext_vietnamese_latin-ext_latin-regular.woff2") format("woff2"),
        url("../../media/fonts/ibm-plex-mono/ibm-plex-mono-v4-cyrillic_cyrillic-ext_vietnamese_latin-ext_latin-regular.woff") format("woff");
}
