@import "../../styles/custom-medias";

.container {
    display: inline-flex;
    font-size: 1rem;

    &.vertical {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .svg:first-child {
            margin-bottom: 1.6rem;
        }
    }

    &.horizontal {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & .svg:first-child {
            margin-right: 1rem;
        }
    }

    & .svg {
        display: inline-block;
        vertical-align: middle;
        user-select: none;
        transition: fill 0.2s ease, fill-opacity 0.2s ease;

        &.symbol {
            width: 3.5em;
            height: 6em; /* Must have an height otherwise it will have an extra space on IE11 */

            @media (--layout-lte-medium) {
                height: 4em;
            }
        }

        &.logotype {
            width: 8.5em;
            height: 3.5em; /* Must have an height otherwise it will have an extra space on IE11 */

            @media (--layout-lte-medium) {
                width: 6.5em;
            }
        }

        & svg {
            width: inherit;
            height: inherit;
            display: block;  /* Remove little margin between the svg and its parent */
        }
    }
}

@media (--layout-lte-medium) {
    .container {
        font-size: 1.3rem;
    }
}
