/* ==========================================================================
   Mixin to position
   ========================================================================== */

@define-mixin position $type: absolute, $top: null, $right: null, $bottom: null, $left: null {
    position: $type;

    @if $top != null {
        top: $top;
    }

    @if $right != null {
        right: $right;
    }

    @if $bottom != null {
        bottom: $bottom;
    }

    @if $left != null {
        left: $left;
    }
}
