@import "../../../styles/colors";
@import "../../../styles/custom-medias";
@import "../../../styles/mixins/typography";

.checkGithub {
    min-height: 50vw;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title {
        @mixin typography-h2 rem;

        margin-top: 35%;
        color: var(--color-celtic);
        text-align: center;
    }

    & .description {
        @mixin typography-body-1 rem;

        height: 50px;
        margin-top: 50px;
        color: var(--color-celtic);
        text-align: center;
    }

    & .buttonBox {
        margin: 50px 0;

        & .cta {
            & .buttonText {
                display: flex;

                & .logo {
                    margin-left: 25px;
                }
            }
        }
    }
}

@media(--layout-gte-large) {
    .content {
        &:hover {
            & .description,
            & .title,
            & .buttonBox {
                transition-duration: 0.4s;
            }

            & .description {
                opacity: 1;
            }

            & .title {
                transform: translateY(-20%);
            }

            & .buttonBox {
                transform: translateY(40px);
            }
        }

        & .title {
            @mixin typography-h2 rem;
            margin-top: 35%;
            transition: transform 0.5s ease-in-out;
        }

        & .description {
            @mixin typography-body-1 rem;

            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        & .buttonBox {
            margin: 20px 0;
            transition: transform 0.5s ease-in-out;
        }
    }
}

@media (--layout-lte-medium) {
    .content {
        & .title {
            margin-top: 30%;
        }

        & .description {
            margin-top: 30px;
        }

        & .buttonBox {
            width: 90%;

            & .cta {
                width: 100%;
            }
        }
    }
}

@media (--layout-lte-small) {
    .checkGithub {
        height: auto;
        flex: initial;
    }

    .content {
        & .title {
            margin-top: 80px;
        }

        & .description {
            margin-top: 30px;
        }

        & .buttonBox {
            width: 100%;
            margin-bottom: 80px;

            & .cta {
                width: 100%;
            }
        }
    }
}
