@import "../../../styles/colors";
@import "../../../styles/custom-medias";
@import "../../../styles/mixins/typography";

.checkGithub {
    min-height: 80vh;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-white);

    & .title {
        @mixin typography-h2 rem;

        color: var(--color-celtic);
        text-align: center;
    }

    & .description {
        @mixin typography-body-1 rem;

        height: 5rem;
        margin-top: 5rem;
        color: var(--color-celtic);
        text-align: center;
    }

    & .buttonBox {
        margin: 5rem 0;

        & .cta {
            & .buttonText {
                display: flex;

                & .logo {
                    margin-left: 2.5rem;
                }
            }
        }
    }
}

@media(--layout-gt-large) {
    .checkGithub {
        & .title {
            will-change: transform;
            transform: translateY(20%);
            transition: transform 0.5s ease-in-out;
        }

        & .description {
            will-change: transform, opacity;
            transform: translateY(50%);
            opacity: 0;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }

        & .buttonBox {
            margin: 2rem 0;
        }

        &:hover {
            & .description {
                transform: translateY(0);
                opacity: 1;
            }

            & .title {
                transform: translateY(0);
            }
        }
    }
}

@media (--layout-lte-medium) {
    .checkGithub {
        min-height: 60vh;

        & .buttonBox {
            min-width: 85%;
            margin-bottom: 0;

            & .cta {
                width: 100%;
            }
        }
    }
}

@media (--layout-lte-small) {
    .checkGithub {
        & .description {
            margin-top: 3rem;
        }

        & .buttonBox {
            min-width: 100%;

            & .cta {
                width: 100%;

                & > div {
                    padding: 0 3rem;
                }
            }
        }
    }
}
