@import "../../../styles/colors";
@import "../../../styles/variables";
@import "../../../styles/mixins/layout";
@import "../../../styles/mixins/typography";

.roadmap {
    --right-width: 50%;

    padding-top: var(--layout-block-padding-y);
    padding-bottom: var(--layout-block-padding-y);
    background: var(--color-celtic);

    & .title {
        @mixin typography-h2 rem;
        color: var(--color-indian-khaki);
    }

    & .tableWrapper {
        & .tableRow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 0.1rem solid color(var(--color-white) a(10%));
            color: color(var(--color-dawn-pink) a(85%));

            & .tableCell {
                @mixin typography-body-1 rem;

                margin: 2rem 2rem 2rem 0;
                display: flex;
                flex: 1;

                &:last-child {
                    margin-right: 0;
                }

                &.headerItemLabel {
                    display: none;
                }
            }

            & .itemStatus {
                width: var(--right-width);
                display: flex;
                flex: 0 0 auto;
                justify-content: space-between;

                & .dot {
                    font-size: 1.3em;
                }
            }
        }

        & .tableHeader {
            position: relative;
            width: var(--right-width);
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            opacity: 0.8;
            color: var(--color-dawn-pink);

            & .tableHeaderIcon {
                width: 1.2rem;
                margin-left: 1.4rem;
            }
        }
    }
}

@media (--layout-lte-medium) {
    .roadmap {
        --right-width: 40%;

        & .title {
            margin-bottom: 2rem;
        }
    }
}

@media (--layout-lte-small) {
    .roadmap {
        --right-width: 25%;

        & .title {
            margin-bottom: 3.5rem;
        }

        & .tableWrapper {
            & .tableRow {
                & .tableCell {
                    flex: initial;

                    &.itemLabel {
                        max-width: calc(100% - var(--right-width));
                    }

                    &.headerItemLabel {
                        display: block;
                        color: var(--color-dawn-pink);
                    }
                }

                & .itemStatus {
                    & .bodyLabel {
                        margin-left: 0;
                    }
                }
            }

            & .tableHeader {
                & .tableHeaderIcon {
                    margin-left: 0;
                }
            }
        }
    }

    .headerName {
        display: none;
    }
}
