@import "../../../styles/mixins/layout";
@import "../../../styles/colors";
@import "../../../styles/mixins/typography";

@mixin layout-main .roadmap, .roadmapWrapper;

.roadmap {
    --right-width: 50%;

    background: var(--color-celtic);

    & .title {
        @mixin typography-h2 rem;

        padding-top: 150px;
        color: var(--color-indian-khaki);
    }

    & .tableWrapper {
        margin-bottom: 200px;

        & .tableRow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid color(var(--color-white) a(10%));
            color: color(var(--color-dawn-pink) a(70%));

            & .tableLabel {
                @mixin typography-body-1 rem;

                margin: 20px 20px 20px 0;
                display: flex;
                flex: 1;

                &.rightSide:first-child {
                    margin-right: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.labelMobile {
                    display: none;
                }
            }

            & .bodyStatus {
                width: var(--right-width);
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .dot {
                    font-size: 1.3em;
                }
            }
        }

        & .tableHeader {
            position: relative;
            width: var(--right-width);
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            color: var(--color-white);

            & .tableHeaderIcon {
                width: 12px;
                margin-left: 14px;
            }
        }
    }
}

@media (--layout-lte-medium) {
    .roadmap {
        & .title {
            padding-top: 120px;
            padding-bottom: 20px;
        }

        & .tableWrapper {
            margin-bottom: 150px;
        }
    }
}

@media (--layout-lte-small) {
    .roadmap {
        --right-width: 25%;

        & .title {
            padding-top: 80px;
            padding-bottom: 35px;
        }

        & .tableWrapper {
            margin-bottom: 100px;

            & .tableRow {
                & .tableLabel {
                    flex: initial;

                    &.rightSide {
                        max-width: calc(100% - var(--right-width));
                    }

                    &.labelMobile {
                        display: block;
                        color: var(--color-dawn-pink);
                    }
                }

                & .bodyStatus {
                    & .bodyLabel {
                        margin-left: 0;
                    }
                }
            }

            & .tableHeader {
                & .tableHeaderIcon {
                    margin-left: 0;
                }
            }
        }
    }

    .headerName {
        display: none;
    }
}
