@import "../../../styles/colors";
@import "../../../styles/custom-medias";
@import "../../../styles/mixins/typography";
@import "../../../styles/mixins/position"

    @mixin layout-main .subscribe, .subscribeWrapper;

.subscribe {
    background-color: var(--color-celtic);
}

.subscribeWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinUs {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.firstText {
    @mixin typography-h1 rem;

    color: var(--color-indian-khaki);
}

.secondText {
    @mixin typography-body-1 rem;

    max-width: 408px;
    margin-top: 70px;
    margin-bottom: 0;
    color: var(--color-dawn-pink);
    font-size: 18px;
}

.image {
    height: 100%;
    transform: translateY(-25%);
    flex: 1;
    color: var(--color-indian-khaki);
}

.form {
    width: 62%;
    min-width: 410px;
    max-width: 540px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.input {
    @mixin typography-body-1 rem;

    height: 60px;
    padding-left: 20px;
    flex-grow: 1;
    border: 2px solid var(--color-indian-khaki);
    border-right: none;
    background: var(--color-celtic);
    color: var(--color-white);
}

.submit {
    width: 190px;
    height: 60px;
    flex: 0 0 auto;
}

.inputSuccess {
    border: 2px solid color(var(--color-celtic) whiteness(10%)); /* Celtic and white blend. Avoids noticeable border */
}

.success {
    padding-right: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    background: none !important;
}

.inputFail {
    border: 2px solid var(--color-white);
    border-right: none;
}

.inputCrossWrapper {
    position: relative;
}

.cross {
    position: absolute;
    top: 22px;
    right: 15px;
    width: 14px;
    height: 14px;

    & svg path {
        stroke: var(--color-white);
    }
}

@media(--layout-lte-medium) {
    .firstText {
        color: var(--color-indian-khaki);
    }

    .secondText {
        max-width: none;
    }
}

@media(--layout-lte-small) {
    .subscribe {
        padding: 80px 0;
    }

    .image {
        display: none;
    }

    .firstText {
        color: var(--color-indian-khaki);
    }

    .secondText {
        margin-top: 20px;
    }

    .form {
        width: 100%;
        min-width: auto;
        max-width: none;
        margin-top: 80px;
        display: inline;
        flex-direction: unset;
    }

    .input {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        padding-left: 20px;
        flex-grow: 0;
        border-right: 2px solid var(--color-indian-khaki);
    }

    .submit {
        width: 100%;
        height: 50px;
    }

    .inputSuccess {
        border: 2px solid var(--color-indian-khaki);
    }

    .inputFail {
        border: 2px solid var(--color-indian-khaki);
    }
}
