@import "../../../styles/colors";
@import "../../../styles/variables";
@import "../../../styles/mixins/typography";
@import "../../../styles/custom-medias";

.subscribe {
    position: relative;
    z-index: 1;
    background-color: var(--color-celtic);
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.leftSideContent {
    position: relative;
    max-height: 90rem;
    padding-top: var(--layout-block-padding-y);
    padding-bottom: var(--layout-block-padding-y);
    display: flex;
    flex: 1 1 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .wrapper {
        width: 100%;
        max-width: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .firstText {
            @mixin typography-h1 rem;
            color: var(--color-indian-khaki);
            text-align: center;
        }

        & .secondText {
            @mixin typography-body-1 rem;
            width: 95%;
            margin-top: 7rem;
            margin-bottom: 0;
            color: var(--color-dawn-pink);
            font-size: 1.8rem;
            text-align: center;
        }

        & .form {
            width: 100%;
            margin-top: 4rem;
            display: flex;

            & .inputWrapper {
                position: relative;
                flex: 1 1 auto;

                & .input {
                    @mixin typography-body-1 rem;
                    width: 100%;
                    height: 5.8rem;
                    padding: 0 2rem;
                    border: 0.2rem solid var(--color-indian-khaki);
                    background: var(--color-celtic);
                    color: var(--color-white);
                    transition: border-color 0.3s ease, color 0.3s ease;

                    &:-webkit-autofill {
                        box-shadow: 0 0 0 1000px inset var(--color-celtic);
                        caret-color: var(--color-white);
                        -webkit-text-fill-color: var(--color-white);
                    }

                    &::placeholder {
                        opacity: 0.3;
                        color: var(--color-white);
                    }

                    &[disabled] {
                        color: color(var(--color-white) alpha(0.4));
                    }
                }

                & .crossmark {
                    position: absolute;
                    top: 50%;
                    right: 2rem;
                    transform: translateY(-50%);
                    font-size: 1.5rem;
                    stroke: var(--color-white);
                    stroke-dasharray: 20;
                    stroke-dashoffset: 20;

                    & svg path:nth-of-type(1) {
                        transition: stroke-dashoffset 0.1s linear 0.3s;
                    }

                    & svg path:nth-of-type(2) {
                        transition: stroke-dashoffset 0.1s linear 0.2s;
                    }
                }

                &.invalid {
                    & .input {
                        border-color: var(--color-white);
                    }

                    & .crossmark {
                        stroke-dashoffset: 0;
                    }
                }
            }

            & .submit {
                height: 5.8rem;
                flex: 0 0 auto;
            }
        }
    }
}

.subscribe .rightSide {
    flex-shrink: 1;
}

.rightSideContent {
    position: relative;
    color: var(--color-indian-khaki);

    & > * {
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto !important;
        transform: translate(-50%, -75%);

    }

    & svg {
        display: block;
    }
}

@media (--layout-lt-medium) {
    .subscribe .leftSide {
        flex-basis: 65%;
    }

    .subscribe .rightSide {
        flex-basis: 35%;

        & .rightSideContent > * {
            width: 22rem !important;
        }
    }
}

@media (--layout-gt-small) {
    .leftSideContent .wrapper .form {
        & .submit {
            border: 0.2rem solid var(--color-indian-khaki);
            transition: border-color 0.3s ease;
        }

        & .inputWrapper .input {
            border-right: 0;
        }

        & .submit {
            border-left: 0;
        }

        &.hasFeedback .inputWrapper .input,
        &.hasFeedback .submit {
            border-color: color(var(--color-white) alpha(0.1));
        }
    }
}

@media (--layout-lte-small) {
    .leftSideContent {
        flex-basis: auto;

        & .wrapper {
            & .firstText {
                color: var(--color-indian-khaki);
            }

            & .secondText {
                margin-top: 2rem;
            }

            & .form {
                margin-top: 8rem;
                flex-direction: column;

                & .inputWrapper {
                    margin-bottom: 1rem;

                    & .input {
                        width: 100%;
                        height: 5rem;
                    }
                }

                & .submit {
                    width: 100%;
                    height: 5rem;
                }
            }
        }
    }

    .rightSideContent {
        display: none;
    }
}
