@import "../../../styles/colors";
@import "../../../styles/custom-medias";
@import "../../../styles/mixins/typography";
@import "../../../styles/mixins/position"

    @mixin layout-main .subscribe, .subscribeWrapper;

.subscribe {
    background-color: var(--color-celtic);
}

.subscribeWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinUs {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.firstText {
    @mixin typography-h1 rem;

    color: var(--color-indian-khaki);
}

.secondText {
    @mixin typography-body-1 rem;

    max-width: 40.8rem;
    margin-top: 7rem;
    margin-bottom: 0;
    color: var(--color-dawn-pink);
    font-size: 1.8rem;
}

.image {
    height: 100%;
    transform: translateY(-25%);
    flex: 1;
    color: var(--color-indian-khaki);
}

.form {
    width: 62%;
    min-width: 41rem;
    max-width: 54rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
}

.input {
    @mixin typography-body-1 rem;

    height: 6rem;
    padding-left: 2rem;
    flex-grow: 1;
    border: 0.2rem solid var(--color-indian-khaki);
    border-right: none;
    background: var(--color-celtic);
    color: var(--color-white);
}

.submit {
    width: 19rem;
    height: 6rem;
    flex: 0 0 auto;
}

.inputSuccess {
    border: 0.2rem solid color(var(--color-celtic) whiteness(10%)); /* Celtic and white blend. Avoids noticeable border */
}

.success {
    padding-right: 2rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    background: none !important;
}

.inputFail {
    border: 0.2rem solid var(--color-white);
    border-right: none;
}

.inputCrossWrapper {
    position: relative;
}

.cross {
    position: absolute;
    top: 2.2rem;
    right: 1.5rem;
    width: 1.4rem;
    height: 1.4rem;

    & svg path {
        stroke: var(--color-white);
    }
}

@media(--layout-lte-medium) {
    .firstText {
        color: var(--color-indian-khaki);
    }

    .secondText {
        max-width: none;
    }
}

@media(--layout-lte-small) {
    .subscribe {
        padding: 8rem 0;
    }

    .image {
        display: none;
    }

    .firstText {
        color: var(--color-indian-khaki);
    }

    .secondText {
        margin-top: 2rem;
    }

    .form {
        width: 100%;
        min-width: auto;
        max-width: none;
        margin-top: 8rem;
        display: inline;
        flex-direction: unset;
    }

    .input {
        width: 100%;
        height: 5rem;
        margin-bottom: 1rem;
        padding-left: 2rem;
        flex-grow: 0;
        border-right: 0.2rem solid var(--color-indian-khaki);
    }

    .submit {
        width: 100%;
        height: 5rem;
    }

    .inputSuccess {
        border: 0.2rem solid var(--color-indian-khaki);
    }

    .inputFail {
        border: 0.2rem solid var(--color-indian-khaki);
    }
}
