@import "../../../styles/colors";
@import "../../../styles/custom-medias";
@import "../../../styles/base/typography.css";
@import "../../../styles/variables";

.hero {
    position: relative;
    height: 100vh;
    z-index: -1;
    background: var(--color-celtic);

    & .textWrapper {
        position: relative;
        z-index: 1;
        padding-top: 10%;
        color: var(--color-indian-khaki);
        text-align: center;
    }

    & .visionBox {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 65px;
        height: 94px;
        transform: translate(-50%, 0);
        cursor: pointer;

        & .vision {
            position: absolute;
            bottom: 70px;
            left: 50%;
            transform: translate(-50%, 0);
            color: var(--color-dawn-pink);
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 3px;

            & a {
                color: var(--color-dawn-pink);
                text-decoration: none;
                text-transform: uppercase;
                transition: opacity 0.2s ease;

                @media (--layout-lte-medium) {
                    font-size: 1.2rem;
                }

                @media (--layout-lte-small) {
                    font-size: 0.9rem;
                }
            }

            & .scrollHint {
                position: absolute;
                top: 100%;
                left: 50%;
                width: 2px;
                height: 50px;
                margin-top: 20px;
                transform: translate(-50%, 0);
                animation: animateVisionEnter 2s cubic-bezier(1, 0, 0, 1) 0s infinite, animateVisionExit 2s cubic-bezier(1, 0, 0, 1) 0s infinite;
                stroke: white;
                stroke-dasharray: 50 50;
            }
        }
    }

    & .svgWrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 20%);

        & svg {
            width: 35vh;
            display: inline-block;
            opacity: 0.5;
            stroke: var(--color-dawn-pink);
        }
    }
}

@keyframes animateVisionEnter {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 50;
    }
}

@keyframes animateVisionExit {
    50% {
        stroke-dashoffset: 50;
    }

    100% {
        stroke-dashoffset: 100;
    }
}

@media (--layout-lte-medium) {
    .hero {
        height: calc(100vh - var(--layout-header-height));
    }
}
