@import "../../../styles/colors";
@import "../../../styles/custom-medias";
@import "../../../styles/variables";

.hero {
    position: relative;
    height: 100vh;
    background: var(--color-celtic);

    & .textWrapper {
        position: relative;
        z-index: 1;
        padding-top: 10%;
        color: var(--color-indian-khaki);
        text-align: center;

        & h1 {
            line-height: 4.5rem;
        }
    }

    & .vision {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translate(-50%, 0);
        color: var(--color-dawn-pink);
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;

        & span {
            position: absolute;
            top: 100%;
            left: 50%;
            width: 1px;
            height: 50px;
            margin-top: 20px;
            transform: translate(-50%, 0);
            background: white;
        }
    }

    & .svgWrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);

        & svg {
            width: 35vh;
            display: inline-block;
            opacity: 0.5;
            stroke: var(--color-dawn-pink);
        }
    }
}

@media (--layout-lte-medium) {
    .hero {
        height: calc(100vh - var(--layout-header-height));
    }
}
