@import "../../styles/colors";
@import "../../styles/base/typography.css";
@import "../../styles/mixins/layout";

@mixin layout-main .header, .headerContent;

.header {
    width: 100%;
    height: var(--layout-header-height);
    z-index: 3;
    flex: 0;
    background: var(--color-celtic);
    transition: height 0.4s ease-in-out;

    & .headerContent {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-white);

        & .anchorsContainer {
            flex: 0 1 100%;
            text-align: left;

            & a {
                @mixin typography-body-1 rem;
                opacity: 0.8;
                color: var(--color-dawn-pink);
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.15rem;
                transition: opacity 0.2s ease;

                @media (--layout-lte-medium) {
                    font-size: 1.2rem;
                }

                @media (--layout-lte-small) {
                    font-size: 0.9rem;
                }
            }

            & a:hover,
            & a:focus {
                opacity: 1;
            }

            & a:not(:last-child) {
                margin-right: 4rem;

                @media (--layout-lte-large) {
                    margin-right: 1.2rem;
                }

                @media (--layout-lte-medium) {
                    margin-right: 0.4rem;
                }
            }
        }

        & .logoContainer {
            padding: 0 2rem;
            display: flex;
            flex: 0 0 auto;
            justify-content: center;
            align-items: center;
            text-align: center;
            fill: var(--color-indian-khaki);

            & .logotype {
                margin-left: 1.5rem;
            }
        }

        & .buttonContainer {
            flex: 0 1 100%;
            text-align: right;

            & a {
                color: unset;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.15rem;

                @media (--layout-lte-medium) {
                    font-size: 1.1rem;
                }

                @media (--layout-lte-small) {
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media (--layout-gt-large) {
    .header {
        position: fixed;

        & .logoContainer {
            & .symbol {
                will-change: transform;
                transition: transform 0.4s ease;
            }

            & .logotype {
                will-change: opacity;
                transition: opacity 0.4s ease;
            }
        }

        &.small {
            height: 8rem;

            & .logoContainer {
                & .symbol {
                    transform: translateX(calc(1.5rem + 8rem / 2)) scale(0.85);
                }

                & .logotype {
                    opacity: 0;
                }
            }
        }
    }
}

@media (--layout-lte-medium) {
    .anchorsContainer {
        visibility: hidden;
    }
}

@media (--layout-lte-small) {
    .anchorsContainer,
    .buttonContainer {
        display: none;
    }
}
