@import "../../../styles/mixins/layout";
@import "../../../styles/colors";
@import "../../../styles/custom-medias";
@import "../../../styles/mixins/position";

@mixin layout-normal .catchphrase, .catchphraseWrapper;

.catchphrase {
    height: 90vh;
    overflow: hidden;
    background: var(--color-celtic);

    & .blackScreen {
        position: relative;
        height: 100%;
        z-index: 2;
        background-color: black;
        background-image: url("../../../media/backgrounds/background-pattern.png");
        background-position: center center;
        background-size: cover;

        & .scrollable {
            @mixin position absolute, 50%, null, null, 25%;
            transform: translate3d(0, -50%, 0);
            white-space: nowrap;

            & h2 {
                color: var(--color-indian-khaki);
            }
        }
    }
}

@media (--layout-lte-medium) {
    .catchphraseWrapper {
        padding: 0;
    }
}
