@import "../../styles/colors";
@import "../../styles/variables.css";

.modalContainer {
    z-index: calc(var(--z-index-header) + 2);
    transition: opacity 0.3s ease-in-out;
}

.modalContainerHidden {
    opacity: 0;
}

.modalContainerActive {
    opacity: 1;
}

.videoModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
    background-color: var(--color-celtic);
}

.video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 560px;
    height: 315px;
    margin: auto;
}

.hidden {
    display: none;
}

@media(width <= 600px) {
    .video {
        width: 300px;
        height: 168.75px;
    }
}
