@import "../../shared/styles/index";

.home {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.header {
    z-index: 3;
}

.main {
    z-index: 2;
    flex: 1 0 auto;
}

.footer {
    z-index: 1;
}
