/*
  Note: If you add a color here, please add it to "/stories/base/colors.css" as well
*/

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-celtic: #173425;
    --color-indian-khaki: #bea48a;
    --color-dawn-pink: #f3ece5;

    --color-armadillo: #4b453d;
    --color-ocean-green: #44b880;
    --color-dune: #2c2823;
    --color-monza: #d0021b;
    --color-web-orange: #ffac00;
    --color-cornflower-blue: #004dd0;
}
