@import "../styles/custom-medias";

/* ==========================================================================
   Layout vars
   ========================================================================== */

:root {
    --layout-container-width: 176rem; /* App maximum width */
    --layout-edge-spacing-x: 5%; /* Spacing around main contents of the website */
    --layout-header-height: 12rem; /* Header height */
    --layout-block-padding-y: 15rem; /* Vertical padding used for most blocks */
}

@media(--layout-lte-medium) {
    :root {
        --layout-edge-spacing-x: 4rem;
        --layout-block-padding-y: 12rem;
        --layout-header-height: 8rem;
    }
}

@media (--layout-lte-small) {
    :root {
        --layout-block-padding-y: 8rem;
    }
}

@media (--layout-lte-xsmall) {
    :root {
        --layout-edge-spacing-x: 3rem;
    }
}
