@import "../styles/custom-medias";

/* ==========================================================================
   Z-index
   ========================================================================== */

:root {
    --z-index-base: 0;
    --z-index-header: 1;
}

/* ==========================================================================
   Transition / Animations timing
   ========================================================================== */

:root {
    --duration-fast: 0.15s;
    --duration-standard: 0.3s;
    --duration-long: 0.4s;
}

/* ==========================================================================
   Layout vars
   ========================================================================== */

:root {
    /* App maximum width
    ============================================= */
    --layout-container-width: 1760px;

    /* Spacing around main contents of the website
       ============================================= */
    --layout-edge-spacing-x: 5%;

    /* header
       ============================================= */
    --layout-header-height: 120px;
}

@media(--layout-lte-medium) {
    :root {
        --layout-header-height: 80px;
    }
}
