@import "../../../styles/colors";
@import "../../../styles/base/typography.css";
@import "../../../styles/mixins/layout.css";

.concept {
    display: flex;
    background: var(--color-white);
}

.halfWidth {
    width: 50%;
}

.fullWidth {
    width: 100%;
}

.leftSide {
    flex: 1;
    background-color: var(--color-white);

    & .content {
        margin: 30% 18%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-celtic);
        text-align: center;

        & .title {
            @mixin typography-h2 rem;
        }

        & .description {
            margin-top: 2rem;
        }

        & .buttonBox {
            margin-top: 6.5rem;
        }
    }
}

.rightSide {
    flex: 1;
    background-color: var(--color-celtic);

    & .videoBox {
        position: relative;
        width: 85%;
        padding: 4.5rem;
        transform: translateX(calc(-4.5rem - 3.6%));
        border: solid 0.1rem var(--color-indian-khaki);
        border-radius: 2.8rem;
    }
}

.videoTriggerContainer {
    display: flex;
    align-items: center;
}

@media(--layout-lte-medium) {
    .concept {
        flex-direction: column;
    }

    .leftSide {
        height: 72.5rem;
        flex: unset;

        & .content {
            margin: 12rem 23%;
        }

        & .buttonBox {
            margin-top: 4rem;
        }
    }

    .rightSide {
        height: 37.5rem;
        flex: unset;

        & .videoBox {
            margin-left: 0;
            transform: translateY(-50%);
        }
    }

    .videoTriggerContainer {
        justify-content: center;
        align-items: flex-start;
    }
}

@media(--layout-lte-small) {
    .leftSide {
        height: 55rem;

        & .content {
            margin: 10rem 5%;

            & .buttonBox {
                width: 100%;
                margin-top: 5rem;

                & button {
                    width: 100%;
                }
            }
        }
    }

    .rightSide {
        & .videoBox {
            padding: 2rem;
            transform: translateY(-50%);
            border-radius: 1.2rem;
        }
    }
}
