@import "../../../styles/colors";
@import "../../../styles/variables";
@import "../../../styles/mixins/typography";
@import "../../../styles/mixins/layout";

.leftSideContent {
    padding-top: var(--layout-block-padding-y);
    padding-bottom: var(--layout-block-padding-y);
    background-color: var(--color-white);

    & .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-celtic);
        text-align: center;

        & .title {
            @mixin typography-h2 rem;
        }

        & .description {
            margin-top: 2rem;
        }

        & .cta {
            margin-top: 6.5rem;
        }
    }
}

.rightSideContent .videoBox {
    padding: 4.5rem;
    border: solid 0.1rem var(--color-indian-khaki);
    border-radius: 2.8rem;
}

/* ==========================================================================
   Styles for >= large
   ======================================================================== */
@media (--layout-gt-medium) {
    .leftSide {
        display: flex;
        flex-direction: column;
    }

    .leftSideContent {
        max-height: 80rem;
        display: flex;
        flex: 1 1 100vh;
        justify-content: center;
        align-items: center;

        & .wrapper {
            max-width: 40rem;
        }
    }

    .rightSide {
        position: relative;
    }

    .rightSideContent {
        background-color: var(--color-celtic);

        & .videoBox {
            position: absolute;
            top: 50%;
            left: 0;
            width: 85%;
            max-width: 70rem;
            transform: translate(calc(-4.1rem - 4.3%), -50%);
        }
    }
}

@media (--layout-gt-large) {
    .leftSideContent .wrapper {
        max-width: 45rem;
    }
}

@media (width <= 75em) and (--layout-gt-medium) {  /* 1200px * 0.625 */
    .rightSideContent .videoBox {
        padding: 3.5rem;
        transform: translate(calc(-3.2rem - 4.3%), -50%);
    }
}

@media (width <= 68.75em) and (--layout-gt-medium) { /* 1100px * 0.625 */
    .leftSideContent .wrapper {
        max-width: 35rem;
    }
}

/* ==========================================================================
   Styles for <= medium
   ======================================================================== */
@media (--layout-lte-medium) {
    .leftSideContent {
        & .wrapper {
            max-width: 45rem;
            margin: 0 auto;
        }
    }

    .rightSideContent {
        position: relative;
        padding-bottom: var(--layout-block-padding-y);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);

        & .videoBox {
            position: relative;
            width: 80%;
        }

        &::before {
            content: "";
            position: absolute;
            top: calc(50% - var(--layout-block-padding-y) / 2);
            right: 0;
            bottom: 0;
            left: 0;
            background-color: var(--color-celtic);
        }
    }
}

@media(--layout-lte-small) {
    .leftSideContent .wrapper .cta {
        width: 100%;

        & button {
            width: 100%;
        }
    }

    .rightSideContent .videoBox {
        width: 90%;
        padding: 3.5rem;
    }
}

@media (width <= 37.5em) { /* 600px * 0.625 */
    .rightSideContent .videoBox {
        width: 100%;
    }
}

@media(--layout-lte-xsmall) {
    .rightSideContent .videoBox {
        padding: 2rem;
    }
}

.videoTriggerContainer {
    display: flex;
    align-items: center;
}
