@import "../../styles/colors";
@import "../../styles/mixins/position";

.videoContainer {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: 0.5;
        background: var(--color-black);
    }
}

.video {
    width: 100%;
    height: auto;
    display: block;
}

.videoControl {
    @mixin position absolute, 0, 0, 0, 0;

    width: 6rem;
    height: 6rem;
    z-index: 2;
    margin: auto;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 var(--color-indian-khaki);
    transition: box-shadow 0.3s ease-in-out;

    & > i {
        @mixin position absolute, 0, 0, 0, 0;

        width: 6rem;
        height: 6rem;
    }
}

.videoContainer:hover > .videoControl {
    box-shadow: inset 0 0 0 3rem var(--color-indian-khaki);
}
