@import "../../styles/colors";
@import "../../styles/mixins/position";

.videoContainer {
    position: relative;
}

.video {
    width: 100%;
    height: auto;
}

.videoControl {
    @mixin position absolute, 0, 0, 0, 0;

    width: 60px;
    height: 60px;
    margin: auto;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 var(--color-indian-khaki);
    transition: box-shadow 0.3s ease-in-out;

    & > i {
        @mixin position absolute, 0, 0, 0, 0;

        width: 60px;
        height: 60px;
    }
}

.videoContainer:hover > .videoControl {
    box-shadow: inset 0 0 0 30px var(--color-indian-khaki);
}
