@import "../../styles/colors";
@import "../../styles/custom-medias";

.footer {
    background: var(--color-white);
}

.footerContent {
    position: relative;
    min-height: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: color(var(--color-celtic) a(60%));
    font-size: 1.2rem;
    letter-spacing: -0.009rem;

    & a,
    & a:hover,
    & a:active,
    & a:visited,
    & a:focus {
        color: color(var(--color-celtic) a(50%));
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    & a:hover {
        color: color(var(--color-celtic) a(80%));
    }

    & .githubLink,
    & .githubLinkTablet {
        & a {
            margin-left: 1.5rem;

            & i {
                transform: translateY(-0.2rem);
            }
        }
    }

    & .githubLinkTablet,
    & .companiesTablet,
    & .copyrightMobile {
        display: none;
    }

    & .companies {
        display: flex;

        & .moxy {
            margin-right: 5rem;
        }

        & a {
            margin-left: 1.5rem;
        }
    }

    & .logo {
        display: none;
        font-size: 0.8667rem;

        & i {
            fill: var(--color-indian-khaki);
        }
    }

    & .plBrand,
    & .moxyBrand {
        font-size: 2.5rem;
    }

    & .moxyBrand {
        width: 3.48em;
        transform: translateY(-2px);
    }
}

/* ==========================================================================
   Responsive
   ========================================================================== */

@media(--layout-lte-medium) {
    .footerContent {
        & a,
        & a:hover,
        & a:active,
        & a:visited,
        & a:focus {
            color: color(var(--color-celtic) a(80%));
        }

        & .copyright,
        & .githubLink {
            display: none;
        }

        & .copyrightTablet {
            display: block;
            flex: 1 0 calc(100% / 3);
            white-space: nowrap;
        }

        & .githubLinkTablet {
            display: flex;
            flex: 0 0 calc(100% / 3);
            justify-content: flex-end;
        }

        & .logo {
            display: inline-flex;
            flex: 0 1 calc(100% / 3);
        }
    }
}

@media(--layout-lte-small) {
    .footerContent {
        padding-top: 4rem;
        padding-bottom: 3rem;
        flex-direction: column;

        & .githubLinkTablet,
        & .copyrightTablet {
            display: none;
        }

        & .copyrightMobile {
            margin-top: 4rem;
            margin-bottom: 0;
            display: block;
            align-self: flex-start;
        }

        & .githubLinkMobile {
            display: block;
        }

        & .companies {
            width: 100%;
            display: flex;

            & .moxy,
            & .protocolLabs {
                margin-right: 0;
                display: flex;
                flex: 1 0 calc(50% / 2);
                flex-direction: column;
            }

            & a {
                margin-left: 0;
            }
        }
    }
}
