@import "../../styles/colors";
@import "../../styles/custom-medias";
@import "../../styles/mixins/layout";

@mixin layout-main null, .footerWrapper;

.footerWrapper {
    min-height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-white);
    color: color(var(--color-celtic) a(60%));
    font-size: 12px;
    letter-spacing: -0.09px;

    & a,
    & a:hover,
    & a:active,
    & a:visited,
    & a:focus {
        color: color(var(--color-celtic) a(50%));
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    & a:hover {
        color: color(var(--color-celtic) a(80%));
    }

    & .githubLink,
    & .githubLinkTablet {
        & i {
            margin-left: 20px;
        }
    }

    & .githubLinkTablet,
    & .copyrightTablet,
    & .copyrightMobile {
        display: none;
    }

    & .logo {
        display: none;

        & i {
            fill: var(--color-indian-khaki);
        }
    }

    & .plBrand {
        width: 4em;
    }
}

/* ==========================================================================
   Responsive
   ========================================================================== */

@media(--layout-lte-medium) {
    .footerWrapper {
        & a,
        & a:hover,
        & a:active,
        & a:visited,
        & a:focus {
            color: color(var(--color-celtic) a(80%));
        }

        & .copyright,
        & .githubLink {
            display: none;
        }

        & .copyrightTablet,
        & .githubLinkTablet {
            display: block;
        }

        & .logo {
            display: inline-flex;
        }
    }
}

@media(--layout-lte-small) {
    .footerWrapper {
        padding-top: 40px;
        padding-bottom: 30px;
        flex-direction: column;

        & .githubLinkTablet,
        & .copyrightTablet {
            display: none;
        }

        & .copyrightMobile {
            margin-top: 40px;
            margin-bottom: 0;
            display: block;
        }

        & .githubLinkMobile {
            display: block;
        }
    }
}
