@import "../../styles/colors";
@import "../../styles/custom-medias";
@import "../../styles/mixins/layout";

@mixin layout-normal null, .footer;

.footer {
    position: relative;
    min-height: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-white);
    color: color(var(--color-celtic) a(60%));
    font-size: 1.2rem;
    letter-spacing: -0.009rem;

    & a,
    & a:hover,
    & a:active,
    & a:visited,
    & a:focus {
        color: color(var(--color-celtic) a(50%));
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    & a:hover {
        color: color(var(--color-celtic) a(80%));
    }

    & .githubLink,
    & .githubLinkTablet {
        & a {
            margin-left: 2rem;

            & i {
                transform: translateY(-0.2rem);
            }
        }
    }

    & .githubLinkTablet,
    & .copyrightTablet,
    & .copyrightMobile {
        display: none;
    }

    & .logo {
        display: none;
        font-size: 0.8667rem;

        & i {
            fill: var(--color-indian-khaki);
        }
    }

    & .plBrand {
        width: 4em;
        margin-left: 0.5rem;
        font-size: 2.5rem;
    }
}

/* ==========================================================================
   Responsive
   ========================================================================== */

@media(--layout-lte-medium) {
    .footer {
        & a,
        & a:hover,
        & a:active,
        & a:visited,
        & a:focus {
            color: color(var(--color-celtic) a(80%));
        }

        & .copyright,
        & .githubLink {
            display: none;
        }

        & .copyrightTablet {
            display: block;
            flex: 1 0 calc(100% / 3);
            white-space: nowrap;
        }

        & .githubLinkTablet {
            display: flex;
            flex: 0 0 calc(100% / 3);
            justify-content: flex-end;
        }

        & .logo {
            display: inline-flex;
            flex: 0 1 calc(100% / 3);
        }
    }
}

@media(--layout-lte-small) {
    .footer {
        padding-top: 4rem;
        padding-bottom: 3rem;
        flex-direction: column;

        & .githubLinkTablet,
        & .copyrightTablet {
            display: none;
        }

        & .copyrightMobile {
            margin-top: 4rem;
            margin-bottom: 0;
            display: block;
        }

        & .githubLinkMobile {
            display: block;
        }
    }
}
