@import "../../styles/colors";
@import "../../styles/custom-medias";

.footer {
    background: var(--color-white);
}

.footerContent {
    position: relative;
    min-height: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: color(var(--color-celtic) a(50%));
    font-size: 1.2rem;
    letter-spacing: -0.009rem;

    & a,
    & a:hover,
    & a:active,
    & a:visited,
    & a:focus {
        color: color(var(--color-celtic) a(40%));
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    & a:hover,
    & .moxyBrand:hover {
        color: color(var(--color-celtic) a(80%));
    }

    & .githubLink,
    & .githubLinkTablet {
        & a {
            margin-left: 1.5rem;

            & i {
                transform: translateY(-0.2rem);
            }
        }
    }

    & .githubLinkTablet,
    & .companiesTablet,
    & .copyrightMobile {
        display: none;
    }

    & .companies {
        display: flex;

        & .moxy {
            margin-right: 5rem;
        }

        & a {
            margin-left: 1.5rem;
        }
    }

    & .plBrand,
    & .moxyBrand {
        transform: translateY(-2px);
        font-size: 3rem;
    }

    & .moxyBrand {
        width: 3.48em;
        color: color(var(--color-celtic) a(50%));
        transition: color 0.3s ease-in-out;
    }
}

/* ==========================================================================
   Responsive
   ========================================================================== */

@media(--layout-lte-medium) {
    .footerContent {
        & a,
        & a:hover,
        & a:active,
        & a:visited,
        & a:focus {
            color: color(var(--color-celtic) a(40%));
        }

        & .moxyBrand,
        & .moxyBrand:hover {
            color: color(var(--color-celtic) a(50%));
        }

        & .githubLink {
            display: none;
        }

        & .githubLinkTablet {
            display: flex;
            flex: 0 0 calc(100% / 2);
        }
    }
}

@media(--layout-lte-small) {
    .footerContent {
        padding-top: 4rem;
        padding-bottom: 3rem;
        flex-direction: column;

        & .githubLinkTablet,
        & .copyrightTablet {
            display: none;
        }

        & .copyrightMobile {
            margin-top: 6.8rem;
            margin-bottom: 0;
            display: block;
            align-self: flex-start;
        }

        & .companies {
            width: 100%;
            display: flex;

            & .moxy,
            & .protocolLabs {
                margin-right: 0;
                display: flex;

                /* flex: 1 0 calc(50% / 2); */
                flex-direction: column;

                & a {
                    margin-top: 2rem;
                }
            }

            & .moxy {
                margin-right: 8.4rem;
            }

            & a {
                margin-left: 0;
            }
        }

        & .githubLinkMobile,
        & .githubLinkMobile:hover {
            color: color(var(--color-celtic) a(50%));
        }
    }
}

@media(--layout-lte-xsmall) {
    .footerContent .companies .moxy {
        margin-right: 20%;
    }
}

@media(--layout-lte-xxsmall) {
    .footerContent {
        & .plBrand,
        & .moxyBrand {
            font-size: 2.5rem;
        }
    }
}
