@import "../../../styles/colors";
@import "../../../styles/mixins/position";
@import "../../../styles/mixins/typography";
@import "../../../styles/mixins/layout";
@import "../../../styles/custom-medias";

:root {
    --slider-transition-duration: 4s; /* This time need to be in coherence with transition duration of js file. `autoplaySpeed` */
}

.why {
    position: relative;
    z-index: 3;
    background: var(--color-celtic);
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: var(--color-dawn-pink);

    &.listMobile {
        display: none;
    }

    & .block {
        position: relative;
        min-height: 44rem;
        padding: 6rem 3%;
        flex: 0 0 25%;
    }

    & .blockTitle {
        min-height: 44rem;
        display: flex;
        flex: 0 0 50%;
        justify-content: center;
        align-items: center;
        background: var(--color-white);
        color: var(--color-celtic);
        text-align: center;
    }

    & .block1,
    & .block4,
    & .block6 {
        background: var(--color-black);
    }

    & .illustration {
        width: 14rem;
        height: 14rem;
        margin-bottom: 4rem;
        display: block;
    }

    & .title {
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 3.2rem;
    }

    & .description {
        opacity: 0.6;
    }

    & .link {
        @mixin position absolute, 2rem, 2rem, null, null;

        width: 2.5rem;
        height: 2.5rem;
        overflow: hidden;
        color: var(--color-dawn-pink);
        transition: color 0.3s ease-in-out;

        & > i {
            @mixin position absolute, 0, 0, 0, 0;

            font-size: 2.5rem;
        }

        &:hover {
            color: var(--color-indian-khaki);
        }
    }
}

/* ==========================================================================
   Responsive
   ========================================================================== */

@media (width <= 81.25em) {  /* 1300px * 0.625 */
    .list {
        & .block {
            min-height: 37rem;
            flex-basis: calc(100% / 3);
        }

        & .blockTitle {
            min-height: 31rem;
            flex-basis: 100%;
        }

        & .block3,
        & .block5 {
            background: var(--color-black);
        }

        & .block4,
        & .block6 {
            background: none;
        }
    }
}

@media (--layout-lte-medium) {
    .whyContent {
        padding: 0;
    }

    .list {
        & .blockTitle {
            padding: 0 var(--layout-edge-spacing-x);
        }

        & .link {
            opacity: 1;

            & > i {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

@media (--layout-lte-small) {
    .list {
        & .block {
            min-height: 37rem;
            flex-basis: 50%;
        }

        & .block3 {
            background: none;
        }

        & .block4 {
            background: var(--color-black);
        }
    }
}

@media (width <= 37.5em) {  /* 600px * 0.625 */
    .list {
        & .block {
            min-height: 45rem;
            padding: var(--layout-edge-spacing-x) var(--layout-edge-spacing-x) calc(var(--layout-edge-spacing-x) + 1rem);
            flex-basis: 100%;
        }

        & .block3 {
            background: var(--color-black);
        }

        & .block4 {
            background: none;
        }

        &.listDesktop {
            display: none;
        }

        &.listMobile {
            display: block;
        }

        & .blockTitleMobile {
            background: var(--color-white);
        }
    }
}

/* ==========================================================================
   Carousel styles
   ========================================================================== */

:global(.slick-slider) {
    box-sizing: border-box;
    position: relative;
    display: block;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

:global(.slick-list) {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
}

:global(.slick-list:focus) {
    outline: none;
}

:global(.slick-list.dragging) {
    cursor: pointer;
    cursor: hand;
}

:global(.slick-slider .slick-track),
:global(.slick-slider .slick-list) {
    transform: translate3d(0, 0, 0);
}

:global(.slick-track) {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

:global(.slick-track::before),
:global(.slick-track::after) {
    content: "";
    display: table;
}

:global(.slick-track::after) {
    clear: both;
}

:global(.slick-loading .slick-track) {
    visibility: hidden;
}

:global(.slick-slide) {
    height: 100%;
    min-height: 0.1rem;
    display: none;
    float: left;
}

:global([dir="rtl"] .slick-slide) {
    float: right;
}

:global(.slick-slide img) {
    display: block;
}

:global(.slick-slide.slick-loading img) {
    display: none;
}

:global(.slick-slide.dragging img) {
    pointer-events: none;
}

:global(.slick-initialized .slick-slide) {
    display: block;
}

:global(.slick-loading .slick-slide) {
    visibility: hidden;
}

:global(.slick-vertical .slick-slide) {
    height: auto;
    display: block;
    border: 0.1rem solid transparent;
}

:global(.slick-arrow.slick-hidden) {
    display: none;
}

:global(.slick-dots) {
    position: absolute;
    right: var(--layout-edge-spacing-x);
    bottom: 2rem;
    left: var(--layout-edge-spacing-x);

    @mixin position absolute, null, 5%, 2rem, 5%;
    margin: 0;
    padding: 0;
    display: flex !important;
    list-style: none;

    & li {
        position: relative;
        overflow: hidden;
        display: flex;
        flex: 1 1 auto;

        &::after {
            @mixin position absolute, null, 0.2rem, 0, 0;

            content: "";
            height: 0.1rem;
            background: color(var(--color-white) a(80%));
        }
    }

    & button {
        width: 100%;
        height: 100%;
        height: 0.5rem;
        z-index: 1;
        padding: 0;
        transform: translate3d(-101%, 0, 0);
        border: 0;
        opacity: 0;
        background: var(--color-indian-khaki);
        font-size: 0;
        transition: opacity 0.3s ease-in-out, transform 0s linear 0.3s;
        appearance: none;
    }
}

.startDotsAnimation :global(.slick-active) button {
    transform: translate3d(-0.2rem, 0, 0);
    opacity: 1;
    transition: transform var(--slider-transition-duration) linear;
}

/* After stopping the timer, only animate opacity when changing slide */
.timerStopped :global(.slick-dots) :global(.slick-active) button {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0s linear;
}
