@import "../../../styles/colors";
@import "../../../styles/variables";
@import "../../../styles/custom-medias";
@import "../../../styles/mixins/typography";

.checkWorkshop {
    background: var(--color-indian-khaki);
}

.checkWorkshopContent {
    padding-top: var(--layout-block-padding-y);
    padding-bottom: var(--layout-block-padding-y);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    & .wrapper {
        width: 100%;
        max-width: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .title {
            @mixin typography-h2 rem;

            color: var(--color-celtic);
            text-align: center;
        }

        & .description {
            @mixin typography-body-1 rem;

            height: 5rem;
            margin-top: 5rem;
            color: var(--color-celtic);
            text-align: center;
        }

        & .button {
            margin-top: 5rem;
        }
    }

}

@media(--layout-gt-medium) {
    .checkWorkshopContent .wrapper {
        & .title {
            transform: translateY(20%);
            transition: transform 0.5s ease-in-out;
        }

        & .description {
            transform: translateY(50%);
            opacity: 0;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }

        & .button {
            margin-top: 2rem;
        }
    }

    .checkWorkshopContent:hover .wrapper {
        & .description {
            transform: translateY(0);
            opacity: 1;
        }

        & .title {
            transform: translateY(0);
        }
    }
}

@media (--layout-lte-medium) {
    .checkWorkshopContent .wrapper .button {
        width: 100%;
    }
}

@media (--layout-lte-small) {
    .checkWorkshopContent .wrapper .description {
        margin-top: 3rem;
    }
}
