@import "../../../styles/colors";
@import "../../../styles/variables";
@import "../../../styles/custom-medias";
@import "../../../styles/mixins/typography";

.checkWorkshop {
    background: var(--color-indian-khaki);
}

.checkWorkshopContent {
    padding-top: var(--layout-block-padding-y);
    padding-bottom: var(--layout-block-padding-y);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .wrapper {
        width: 100%;
        max-width: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .title {
            @mixin typography-h2 rem;

            color: var(--color-celtic);
            text-align: center;
        }

        & .description {
            @mixin typography-body-1 rem;

            height: 5rem;
            margin-top: 5rem;
            color: var(--color-celtic);
            text-align: center;
        }

        & .buttonBox {
            margin-top: 5rem;

            & .cta {
                & .buttonText {
                    display: flex;

                    & .logo {
                        margin-left: 2.5rem;
                    }
                }
            }
        }
    }

}

@media(--layout-gt-medium) {
    .checkWorkshopContent .wrapper {
        & .title {
            will-change: transform;
            transform: translateY(20%);
            transition: transform 0.5s ease-in-out;
        }

        & .description {
            will-change: transform, opacity;
            transform: translateY(50%);
            opacity: 0;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }

        & .buttonBox {
            margin-top: 2rem;
        }
    }

    .checkWorkshopContent:hover .wrapper {
        & .description {
            transform: translateY(0);
            opacity: 1;
        }

        & .title {
            transform: translateY(0);
        }
    }
}

@media (--layout-lte-medium) {
    .checkWorkshopContent .wrapper {
        & .buttonBox {
            min-width: 100%;

            & .cta {
                width: 100%;
            }
        }
    }
}

@media (--layout-lte-small) {
    .checkWorkshopContent .wrapper {
        & .description {
            margin-top: 3rem;
        }

        & .buttonBox .cta > div {
            padding: 0 3rem;
        }
    }
}
