@import "../../styles/colors";
@import "../../styles/mixins/typography";

:root {
    --feedback-transition-duration: 0.2s;
}

.button {
    position: relative;
    min-width: 12rem;
    height: 5rem;
    overflow: hidden;
    padding: 0;
    border: none;
    background: transparent;

    &:enabled {
        cursor: pointer;
    }

    &.fullWidth {
        width: 100%;
    }

    & .textBlock {
        position: relative;
        @mixin typography-body-1 rem;
        height: 100%;
        padding: 0 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        transition-property: color, background-color, opacity, transform;
        transition-duration: var(--feedback-transition-duration);
        transition-timing-function: ease-out;

        & .text {
            position: relative;
            z-index: 2;
        }

        & .progressBar {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }

    &.primary {
        & .textBlock {
            background-color: var(--color-white);
            color: var(--color-celtic);
        }

        &:enabled {
            &:active .textBlock,
            &:focus:not(:hover) .textBlock {
                opacity: 0.8;
            }

            &:hover:not(:active) .textBlock {
                opacity: 0.8;
            }
        }

        &:disabled .textBlock {
            color: color(var(--color-celtic) alpha(0.6));
        }
    }

    &.secondary {
        & .textBlock {
            background-color: var(--color-indian-khaki);
            color: var(--color-white);
        }

        &:enabled {
            &:active .textBlock,
            &:focus:not(:hover) .textBlock {
                opacity: 0.8;
            }

            &:hover:not(:active) .textBlock {
                opacity: 0.8;
            }
        }

        &:disabled .textBlock {
            background-color: color(var(--color-indian-khaki) alpha(0.5));
            color: color(var(--color-white) alpha(0.5));
        }
    }

    /* ==========================================================================
      Text + feedback
      ========================================================================== */

    & .textBlock {
        z-index: 1;
    }

    & .successBlock,
    & .errorBlock {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transform: translateY(100%);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform var(--feedback-transition-duration) ease-out;
    }

    &.success .textBlock,
    &.error .textBlock {
        transform: translateY(-100%);
    }

    &.success .successBlock,
    &.error .errorBlock {
        transform: translateY(0);
    }

    /* Primary & Secondary */

    &.primary.hasFeedback .textBlock,
    &.secondary.hasFeedback .textBlock {
        background-color: var(--color-celtic);
        color: var(--color-white);
    }

    &.primary,
    &.secondary {
        &.hasFeedback .textBlock,
        &.hasFeedback .textBlock {
            background-color: var(--color-celtic);
            color: var(--color-white);
        }

        & .textBlock .progressBar {
            background: color(var(--color-white) alpha(0.12));
        }

        & .successBlock,
        & .errorBlock {
            background-color: var(--color-celtic);
            color: var(--color-white);

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: color(var(--color-white) alpha(0.12));
            }
        }
    }

    /* ==========================================================================
      Feedback icons
      ========================================================================== */

    & .checkmark,
    & .crossmark {
        font-size: 1.5rem;
        stroke: var(--color-white);
        stroke-dasharray: 20;
        stroke-dashoffset: 20;
    }

    & .checkmark {
        transition: stroke-dashoffset 0.2s linear 0.2s;
    }

    & .crossmark {
        & svg path:nth-of-type(1) {
            transition: stroke-dashoffset 0.1s linear 0.3s;
        }

        & svg path:nth-of-type(2) {
            transition: stroke-dashoffset 0.1s linear 0.2s;
        }
    }

    &.success .checkmark {
        stroke-dashoffset: 0;
    }

    &.error .crossmark {
        stroke-dashoffset: 0;
    }
}
